<app-customer-navbar></app-customer-navbar>

<div class="bradcam_area breadcam_bg_1">
  <h3 style="color: rgb(255, 255, 255); text-shadow: 3px 3px #ffffffb4;">
    <b style="color: rgb(146, 180, 224); text-shadow: 3px 3px #413434b4;">Your Invoice Details</b>
  </h3>

  <div class="main" align="center">
    <br>
    <div class="container">
      <form novalidate [formGroup]="paymentForm" (ngSubmit)="PaymentDone()">
        <fieldset>
          <div class="form-group"><br>

            <div class="table-responsive" id="htmlData">
              <table border="5" BORDERCOLOR=white align="center" cellpadding="10" cellspacing="10"
                class="table text-white">
                <thead class="thead text-dark" style="background-color: lightsteelblue;opacity: .6;right: 12px;">
                  <tr>
                    <th style="text-align: center;">Description</th>
                    <th style="text-align: center;">Cost</th>
                  </tr>
                </thead>
                <tr style="color: rgba(255, 255, 255, 0);opacity: .9;">
                  <td style="font-weight: bolder;">
                    <p style="font-size: 18px;">Bill No </p>
                    <p style="font-size: 18px;">User Name</p>
                    <p style="font-size: 18px;">Room Bill</p>
                    <p style="font-size: 18px;">Breakfast Bill</p>
                    <p style="font-size: 18px;">Drinks Bill</p>
                    <p style="font-size: 18px;">Food Bill </p>
                    <p style="font-size: 18px;">Pickup And Drop Bill </p>
                  </td>

                  <td>
                    <p style="font-size: 18px;">ABC1</p>
                    <p style="font-size: 18px;">{{userName}}</p>
                    <p style="font-size: 18px;">48000 /-</p>
                    <p style="font-size: 18px;">65000 /-</p>
                    <p style="font-size: 18px;">7800 /-</p>
                    <p style="font-size: 18px;">6400 /-</p>
                    <p style="font-size: 18px;">9000 /-</p>
                    <p style="font-size: 18px;">0 /-</p>
                  </td>
                </tr>
                <tr style="color: rgba(255, 255, 255, 0);opacity: .9;">
                  <td style="opacity: 1; font-weight: 1000;color: violet; font-size: 20px;">Total Amount</td>
                  <td style="opacity: 1; font-weight: 1000;color: violet; font-size: 20px;">136200 /-</td>
                </tr>


              </table>


            </div>

            <br>
            <div class="form-group">
              <p style="color:white;font-size: 30px;">Payment Type</p>
              <div class="dropdown" id="hotelroom" >
                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                <!-- Dropdown button -->

                <select name="paymentMethod" formControlName="paymentMethod" id="paymentMethod"
                  style="align-items: center; width: 250px; height: 30px;">
                  <option value="">--select--</option>
                  <option>Credit Card</option>
                  <option>Debit Card</option>
                  <option>Cash</option>
                  <option>Online Banking</option>
                  <option>Wallet</option>
                </select>

              </div>

              <br>
              <br>
            </div>

            <button class="btn btn-primary btn-lg" (click)="openPDF()">Download Invoice</button>&nbsp; &nbsp;&nbsp; &nbsp;
            <button type="submit" class="btn btn-danger btn-lg">Pay</button>&nbsp; &nbsp;&nbsp; &nbsp;
            <button class="btn btn-dark btn-lg" (click)="Back()">Back</button>

          </div>


          <br>

        </fieldset>
        <br>

      </form>
    </div>
  </div>
</div>

<app-customer-footer></app-customer-footer>
