
<app-navbar></app-navbar>

<div class="bradcam_area breadcam_bg_1">
    <h3>Updating Receptionist Details</h3>
</div>
<font color=green size = 5px>{{ successMessage }}</font>
<font color=red size = 5px>{{ errorMessage }}</font>
<div class="container">
    <form novalidate [formGroup]="ReceptionistUpdateForm" (ngSubmit)="updateReceptionist()">
      <fieldset>
        <br><br>

        <div class="form-group">
            <label><b>Receptionist ID :</b></label>
            <input type="text" class="form-control" formControlName="receptionistId" [readonly]="true">
        </div>

        <div class="form-group">
            <label><b>Receptionist Name :</b></label>
            <input type="text" class="form-control" formControlName="receptionistName" id="receptionistName" required >
            <div class="alert alert-danger" *ngIf="ReceptionistUpdateForm.get('receptionistName').hasError('required') && ReceptionistUpdateForm.get('receptionistName').dirty">
            Receptionist Name is Required
            </div>
                <div class="alert alert-danger"
                    *ngIf="ReceptionistUpdateForm.get('receptionistName').hasError('minlength') && ReceptionistUpdateForm.get('receptionistName').dirty">
                    Receptionist name must be of 5 characters
                </div>
        </div>

        <div class="form-group">
            <label><b>Receptionist Phone Number :</b></label>
            <input type="number" class="form-control" formControlName="receptionistPhoneNumber" required>
            <div class="alert alert-danger" *ngIf="ReceptionistUpdateForm.get('receptionistPhoneNumber').hasError('required') && 
            ReceptionistUpdateForm.get('receptionistPhoneNumber').dirty">
              Receptionist  Phone is Required
            </div>
            <div class="alert alert-danger" *ngIf="ReceptionistUpdateForm.get('receptionistPhoneNumber').hasError('minlength') &&
            ReceptionistUpdateForm.get('receptionistPhoneNumber').dirty">
              Enter atleast 10 Numbers
            </div>
        </div>

        <div class="form-group">
            <label><b>Receptionist Email :</b></label>
            <input type="email" class="form-control" formControlName="receptionistEmail" required>
            <div class="alert alert-danger" *ngIf="ReceptionistUpdateForm.get('receptionistEmail').hasError('required') &&
            ReceptionistUpdateForm.get('receptionistEmail').dirty">
            Receptionist Email is Required
            </div>
          </div>

      </fieldset>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button> &nbsp; &nbsp;
      <button class="btn btn-dark" (click)="back()">Back</button>
    </form>
</div>
<br>
<app-footer></app-footer>
